<div class="custom-footer">
    <MudContainer>
        <div class="footer-content">
            <div class="footer-section">
                <h4>Knowledge Hub</h4>
                <ul>
                    <li><a href="#">DCF Intrinsic Value Calculation</a></li>
                    <li><a href="#">Benjamin Graham Intrinsic Value Calculation</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>About Me</h4>
                <ul>
                    <li><a href="#">Development</a></li>
                    <li><a href="#">Roadmap</a></li>
                    <li><a href="#">Releases</a></li>
                </ul>
            </div>
        </div>
    </MudContainer>
</div>


<style>
    .custom-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #f8f9fa;
        padding: 20px 0;
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
    }

    .footer-section {
        margin-right: 40px;
    }

    .footer-section h4 {
        color: #343a40;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .footer-section ul {
        list-style-type: none;
        padding: 0;
    }

    .footer-section ul li {
        margin-bottom: 5px;
    }

    .footer-section ul li a {
        color: #6c757d;
        text-decoration: none;
    }

    .footer-section ul li a:hover {
        color: #495057;
        text-decoration: none;
    }
</style>
@code {

}
