<!-- MainLayoutFooter.razor -->
<div class="custom-footer @(isDarkMode ? "dark-mode" : "")">
    <div>
        <div class="footer-content">
            <div class="footer-section">
                <h4 class="footer-title">Knowledge Hub</h4>
                <ul>
                    <li><a href="#">DCF Intrinsic Value Calculation</a></li>
                    <li><a href="#">Benjamin Graham Intrinsic Value Calculation</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4 class="footer-title">About Me</h4>
                <ul>
                    <li><a href="#">Development</a></li>
                    <li><a href="#">Roadmap</a></li>
                    <li><a href="#">Releases</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<style>
    .custom-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        color: #495057; /* Default text color */
        padding: 20px 0;
        box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000; /* Ensure it's on top of other content */
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        max-width: 1200px; /* Control the max width of content inside the footer */
        margin: 0 auto; /* Center the content horizontally */
    }

    .footer-section {
        margin-right: 40px;
    }

    .footer-section .footer-title {
        color: #343a40; /* Default title color */
        font-size: 1.2rem; /* Adjust size as needed */
        margin-bottom: 10px;
    }

    .footer-section ul {
        list-style-type: none;
        padding: 0;
    }

    .footer-section ul li {
        margin-bottom: 5px;
    }

    .footer-section ul li a {
        color: #6c757d; /* Default link color */
        text-decoration: none;
    }

    .footer-section ul li a:hover {
        color: rgba(119,107,231,1); /* Darker variation upon hover */
        text-decoration: none;
    }

    /* Dark mode styles */
    .dark-mode .custom-footer {
        color: #ffffff; /* White text color */
        background-color: #343a40; /* Dark background color */
    }

    .dark-mode .footer-section .footer-title {
        color: #757ab7; /* Different variation for the title in dark mode */
    }

    .dark-mode .footer-section ul li a {
        color: #757ab7; /* Default link color in dark mode */
    }

    .dark-mode .footer-section ul li a:hover {
        color: rgba(119,107,231,1); /* Darker variation upon hover in dark mode */
    }
</style>

@code {
    [Parameter] public bool isDarkMode { get; set; }
}
