/*
	This CSS file matches the color scheme from MudBlazor to Bootstrap when utilized for authentication.
	The file remains available at all times for demonstration purposes,
	but it is exclusively employed in the 'App.razor' component when authentication is enabled.
*/

@font-face {
    font-family: 'fontfile';
    src: url('../fonts//Rubik-VariableFont_wght.ttf') format('truetype');
}

.btn-primary {
    text-transform: uppercase;
    --bs-btn-bg: var(--mud-palette-primary) !important;
    --bs-btn-hover-bg: var(--mud-palette-primary-darken) !important;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: var(--mud-palette-primary) !important;
}

.nav {
    --bs-nav-link-color: var(--mud-palette-primary) !important;
    --bs-nav-link-hover-color: var(--mud-palette-primary-darken) !important;
}

html, body, #app {
    height: 100%;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 65px;
    aspect-ratio: 1;
    position: relative;
}

    .loader:before,
    .loader:after {
        content: "";
        position: absolute;
        border-radius: 50px;
        box-shadow: 0 0 0 3px inset #fff;
        animation: l5 2.5s infinite;
    }

    .loader:after {
        animation-delay: -1.25s;
        border-radius: 0;
    }

@keyframes l5 {
    0% {
        inset: 0 35px 35px 0
    }

    12.5% {
        inset: 0 35px 0 0
    }

    25% {
        inset: 35px 35px 0 0
    }

    37.5% {
        inset: 35px 0 0 0
    }

    50% {
        inset: 35px 0 0 35px
    }

    62.5% {
        inset: 0 0 0 35px
    }

    75% {
        inset: 0 0 35px 35px
    }

    87.5% {
        inset: 0 0 35px 0
    }

    100% {
        inset: 0 35px 35px 0
    }
}